{% extends "base.html" %}


{% block content %}
<!-- Main Content -->
<div class="container my-5">
    <div class="row">
        <!-- Left Side - Latest News -->
        <div class="col-md-8">
            {% if news %}
                <h2 class="mb-4">So'ngi yangiliklar</h2>
                {% for item in news %}
                    <div class="card mb-3" style="max-width: 6000px; height: 250px;">
                        <div class="row g-0">
                            <div class="col-md-4 h-100">
                                <img src="{{ item.image.url }}"
                                    class="img-fluid rounded-start h-150 w-100"
                                    alt="News Image"
                                    style="object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title fw-bold text-primary">{{ item.title }}</h4>
                                    <p class="card-text text-muted">{{ item.text|truncatechars:110 }}</p>
                                    <a href="{% url 'news_detail' item.id %}" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>


        <!-- Right Side - Categories & Trending -->
        <div class="col-md-4">
            <h4>Categories</h4>
            <ul class="list-group mb-4">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.name }}
                    <span class="badge bg-primary rounded-pill"> {{ category.news.count }} </span>
                </li>
                {% endfor%}
            </ul>
            

            <h4>Trending</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Top Story of the Day</a></li>
                <li class="list-group-item"><a href="#">Celebrity Interview</a></li>
                <li class="list-group-item"><a href="#">Market Update</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
